html {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.wrapper {
  display: flex;
  max-width: 1080px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
